{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
    
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Course Collection Request Results</h1>
            <p>The configured target is: {{target_url}}</p>
            <p>The request URL is: https://{{target_url}}</p>
            <h3>Paging JSON</h3>
            <p>{{pagingJSON}}</p>
            <h3>nextpageURL</h3>
            <p>{{nextpageURL}}</p>
            <h3>dataOffset</h3>
            <p>{{dataOffset}}</p>
            
            </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>id</th>
                        <th>course id</th>
                        <th>name</th>
                        <th>available</th>
                    </tr>
                </thead>
                <tbody>
                {% for result in resultsJSON["results"] %}
              <tr>
                    <td><a href="/courses/memberships/{{result['id']}}" class="btn btn-sm btn-primary" role="button">memberships</a></td>
                    <td>{{result["id"]}}</td>
                    <td>{{result["courseId"]}}</td>
                    <td>{{result["name"]}}</td>
                    <td>{{result["availability"]["available"]}}</td>
        	    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- end data table -->
            {% if dataOffset %}
    <div class="col-md-12 text-center">
        <p>
            <a href="{{url_for('Courses')}}/{{dataOffset}}" class="btn btn-lg btn-primary" role="button">Next Page</a>
        </p>
    </div>
    {% endif %}
    </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <hr>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>What Just Happened?</h1>
            <p>Explain.</p>
            <h3>Courses JSON</h3>
            <p>{{coursesJSON}}</p>
            </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <hr>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p><h3>Here is a dump of the configuration settings</h3>{{ settings.settings }}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}