{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
    
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Course Membership Collection Request Results</h1>
            <p>API available since: 2015.11.0</p>
            <p>The configured target is: {{target_url}}</p>
            <p>The request URL is: https://{{target_url}}</p>
            <h3>Paging JSON</h3>
            <p>{{pagingJSON}}</p>
            <h3>nextpageURL</h3>
            <p>{{nextpageURL}}</p>
            <h3>dataOffset</h3>
            <p>{{dataOffset}}</p>
            <h3>passed course Id</h3>
            <p>{{selfCourseId}}</p>
            
            </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>courseId</th>
                        <th>userId</th>
                        <th>courseRoleId</th>                        
                        <th>created</th>
                        <th>available</th>
                    </tr>
                </thead>
                <tbody>
                {% for result in resultsJSON["results"] %}
                <tr>
                    <td><a href="/course/{{result['courseId']}}" class="btn btn-sm btn-primary" role="button">course info</a>
                    <a href="/user/{{result['userId']}}" class="btn btn-sm btn-primary" role="button">user info</a></td>
                    <td>{{ result["courseId"]}}</td>
                    <td>{{ result["userId"]}}</td>
                    <td>{{ result["courseRoleId"]}}</td>
                    <td>{{ result["created"]}}</td>
                    {% if (result["availability"]) %}
                    <td>{{ result["availability"]["available"]}}</td>
                    {% else %}
                    <td>Unset</td>
                    {% endif %}

        	    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- end data table -->
            {% if (None != dataOffset) %}
            <div class="col-md-12 text-center">
              <p>
              <a href="/courses/memberships/{{selfCourseId}}?paginateId={{dataOffset}}" class="btn btn-lg btn-primary" role="button">Next Page</a>
              </p>
            </div>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <hr>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>What Just Happened?</h1>
            <p>
              Explain.
            </p>
            <p>
              REST code
            </p>
              <p>
                <pre><code>
    def getCourseMemberships(self, url, key, secret, token):
        '''
        GET /learn/api/public/v1/courses/{courseId}/users
        returns a collection of all the memberships for a specific course
        '''

        print('[Membership:getCourseMemberships] token: ' + token)
        #"Authorization: Bearer $token"
        authStr = 'Bearer ' + token
        print('[Membership:getCourseMemberships] authStr: ' + authStr)
        session = requests.session()
        session.mount('https://', Tls1Adapter()) # remove for production
        print ("[Membership:getCourseMemberships] URL: https://%s" % url)
        r = session.get("https://" + url, headers={'Authorization':authStr}, verify=False)

        if (r.status_code != 200): 
            print(r.text)
            r.raise_for_status()
        if r.text:
            parsed_json = json.loads(r.text)
        else:
            parsed_json = None
            print("NONE")
        
        return parsed_json
                </code></pre>
            </p>
            <p>
              Flask 
              </p>
              <p>
              <pre><code>
@app.route('/courses/memberships/<courseId>')
def Memberships(courseId=None):
    """
    Return Course Memberships Collection
    """
    paginateId = request.args.get('paginateId', None)

    print("[views:Memberships] COURSE_ID: %s" % courseId)
    print("[views:Memberships] paginateId: %s" % paginateId)
    
    settings = {'settings':app.config}
    target = app.config["TARGET_URL"] + app.config["COURSE_MEMBERSHIPS_PATH"]

    target = target.replace("<courseId>", courseId)

    if paginateId is None:
        # This is only used by the visit_form on the index page.
        print("[views:Memberships] paginateId = None: Using configured users_path.")
    else:
        target = (target[:(target.rfind('=')-len(target))])+"="+paginateId

    #check authZ
    auth.AuthToken(target, app.config["CERT_PATH"]).confirmToken(app)

    result = memberships.Memberships().getCourseMemberships(target, app.config["OAUTH_KEY"], app.config["OAUTH_SECRET"], app.config['TOKEN'])
    membersJSON = json.dumps(result)
    nextpageURL = None
    dataOffset = 0
    pagingJSON = None
    if ('paging' in result):
        if ('nextPage' in result['paging']):
            nextpageURL = result['paging']['nextPage']
            pagingJSON = result['paging']
            dataOffset = nextpageURL[(nextpageURL.rfind('=')+1-len(nextpageURL)):]

    limitInt = int(app.config["LIMIT"])
    dataOffsetInt = int(dataOffset)
    if (dataOffsetInt < limitInt):
        dataOffset = None

    return render_template('coursememberships.html',
                            target_url=target,
                            membersJSON=membersJSON,
                            resultsJSON=result,
                            pagingJSON=pagingJSON,
                            nextpageURL=nextpageURL,
                            dataOffset=dataOffset,
                            selfCourseId=courseId,
                            settings=settings) 

                </code></pre>
            </p>
            <h3>Memberships JSON</h3>
            <p>{{membersJSON}}</p>
            </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <hr>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p><h3>Here is a dump of the configuration settings</h3>{{ settings.settings }}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}