{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
    
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Course Collection Request Results</h1>
            <p>API available since: 3000.1.0</p>
            <p>The configured target is: {{target_url}}</p>
            <p>The request URL is: https://{{target_url}}</p>
            <h3>Paging JSON</h3>
            <p>{{pagingJSON}}</p>
            <h3>nextpageURL</h3>
            <p>{{nextpageURL}}</p>
            <h3>dataOffset</h3>
            <p>{{dataOffset}}</p>
            
            </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>id</th>
                        <th>course id</th>
                        <th>name</th>
                        <th>available</th>
                    </tr>
                </thead>
                <tbody>
                {% for result in resultsJSON["results"] %}
              <tr>
                    <td><a href="/courses/memberships/{{result['id']}}" class="btn btn-sm btn-primary" role="button">memberships</a></td>
                    <td>{{result["id"]}}</td>
                    <td>{{result["courseId"]}}</td>
                    <td>{{result["name"]}}</td>
                    <td>{{result["availability"]["available"]}}</td>
        	    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- end data table -->
            {% if dataOffset %}
    <div class="col-md-12 text-center">
        <p>
            <a href="{{url_for('Courses')}}/{{dataOffset}}" class="btn btn-lg btn-primary" role="button">Next Page</a>
        </p>
    </div>
    {% endif %}
    </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <hr>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>What Just Happened?</h1>

            <p>
              The Blackbooard Learn Courses REST API returns a collection of courses from the queried target.
              The code in this example when called checks whether the OAuth token is still valid, updates the token if necessary,
              and then makes the course collection request. 
              The results are then handed back to Flask which then hands the results to the template.
              In Python the code looks like this (from courses.py):
            </p>
            <p>
            <pre><code>
    def getCourses(self, url, key, secret, token): 
        '''
        Returns a course Collection
        '''
        URL = 'https://' + url
        print('[Course:getCourses()] token: ' + token)
        #"Authorization: Bearer $token"
        authStr = 'Bearer ' + token
        print('[Course:getCourses()] authStr: ' + authStr)
        session = requests.session()
        print("[Course:getCourses()] GET Request URL: %s" % URL)
  
        r = session.get(URL, headers={'Authorization':authStr}, verify=False)
        
        print("[Course:getCourses()]: " + str(r.status_code))
        #strip quotes from result for better dumps
        r.raise_for_status()

        if r.text:
            res = json.loads(r.text)
            print("[Course:getCourses()] RESPONSE: \n" + json.dumps(res,indent=4, separators=(',', ': ')))
            parsed_json = json.loads(r.text)
        else:
            print("NONE")

        res = json.loads(r.text)
      
        return parsed_json
</code></pre>
            </p>
            <p>
              Flask makes the request and performs some prep and maintenance on the results before rendering the template:
              </p>
              <p>
              <pre><code>
@app.route('/courses')
@app.route('/courses/<paginateId>')
def Courses(paginateId=None):
    """
    Return Course Collection
    """
    settings = {'settings':app.config}
    target = app.config["TARGET_URL"] + app.config["COURSES_PATH"]
    if paginateId is None:
        # This is only used by the visit_form on the index page.
        print("paginateId = None: Using configured courses_path.")
    else:
        print("paginateId = %s" % paginateId)
        target = (target[:(target.rfind('=')-len(target))])+"="+paginateId

    #check authZ
    auth.AuthToken(target, app.config["CERT_PATH"]).confirmToken(app)
    
    result = courses.Courses().getCourses(target, app.config["OAUTH_KEY"], app.config["OAUTH_SECRET"], app.config['TOKEN'])
    
    coursesJSON = json.dumps(result)
    nextpageURL = result["paging"]["nextPage"]
    print("nextpageURL: %s" %nextpageURL)
    
    dataOffset = nextpageURL[(nextpageURL.rfind('=')+1-len(nextpageURL)):]
    
    print("dataOffset: %s" %dataOffset)
    print("dataOffset LIMIT: %s" % app.config["LIMIT"])

    limitInt = int(app.config["LIMIT"])
    dataOffsetInt = int(dataOffset)

    if (dataOffsetInt < limitInt):
        dataOffset = None

    print("dataOffset: %s" %dataOffset)

    return render_template('courses.html',
                           target_url=target,
                           coursesJSON=coursesJSON,
                           resultsJSON=result,
                           pagingJSON=result["paging"],
                           nextpageURL=nextpageURL,
                           dataOffset=dataOffset,
                           settings=settings)

                </code></pre>

            </p>
            <div class="row">
      <div class="col-md-12">
          <hr>
      </div>
    </div>
            <h3>Courses JSON</h3>
            <p>{{coursesJSON}}</p>
            </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <hr>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p><h3>Here is a dump of the configuration settings</h3>{{ settings.settings }}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}