{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
    
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>User Collection Request Results</h1>
            <p>The configured target is: {{target_url}}</p>
            <p>The request URL is: https://{{target_url}}</p>
            <h3>Paging JSON</h3>
            <p>{{pagingJSON}}</p>
            <h3>nextpageURL</h3>
            <p>{{nextpageURL}}</p>
            <h3>dataOffset</h3>
            <p>{{dataOffset}}</p>
            
            </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>id</th>
                        <th>externalId</th>
                        <th>username</th>
                        <th>first name</th>
                        <th>middle name</th>
                        <th>last name</th>
                        <th>date created</th>
                        <th>available</th>
                    </tr>
                </thead>
                <tbody>
                {% for result in resultsJSON["results"] %}
              <tr>
                    <td><a href="/user/{{result['id']}}" class="btn btn-sm btn-primary" role="button">user details</a></td>
                    <td>{{ result["id"]}}</td>
                    <td>{{ result["externalId"]}}</td>
                    <td>{{ result["userName"]}}</td>
                    <td>{{ result["name"]["given"]}}</td>
                    <td>{{ result["name"]["middle"]}}</td>
                    <td>{{ result["name"]["family"]}}</td>
                    <td>{{ result["created"]}}</td>
                    {% if (result["availability"]) %}
                    <td>{{ result["availability"]["available"]}}</td>
                    {% else %}
                    <td>Unset</td>
                    {% endif %}

        	    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- end data table -->
            {% if dataOffset %}
    <div class="col-md-12 text-center">
        <p>
            <a href="{{url_for('Users')}}/{{dataOffset}}" class="btn btn-lg btn-primary" role="button">Next Page</a>
        </p>
    </div>
    {% endif %}
    </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <hr>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>What Just Happened?</h1>
            <p>Explain.</p>
            <p>
              <pre>
                <code>
    def getUsers(self, url, key, secret, token): 
        '''
        Returns a Collection of Users
        '''
        URL = 'https://' + url
        print('[Users:getUsers()] token: ' + token)
        #"Authorization: Bearer $token"
        authStr = 'Bearer ' + token
        print('[Users:getUsers()] authStr: ' + authStr)
        session = requests.session()
        #session.mount('https://', Tls1Adapter()) # remove for production
        print("[Users:getUsers()] GET Request URL: %s" % URL)
  
        r = session.get(URL, headers={'Authorization':authStr}, verify=False)
        
        print("[Users:getUsers()]: " + str(r.status_code))
        r.raise_for_status()

        if r.text:
            parsed_json = json.loads(r.text)
        else:
            parsed_json = None
            print("NONE")
        
        return parsed_json

                </code>
              </pre>
            </p>
            <p>
            Flask
              <pre><code>
@app.route('/users')
@app.route('/users/<paginateId>')
def Users(paginateId=None):
    """
    Return Users Collection
    """
    settings = {'settings':app.config}
    target = app.config["TARGET_URL"] + app.config["USERS_PATH"]
    if paginateId is None:
        # This is only used by the visit_form on the index page.
        print("paginateId = None: Using configured users_path.")
    else:
        target = (target[:(target.rfind('=')-len(target))])+"="+paginateId

    #check authZ
    auth.AuthToken(target, app.config["CERT_PATH"]).confirmToken(app)
 
    result = courses.Courses().getCourses(target, app.config["OAUTH_KEY"], app.config["OAUTH_SECRET"], app.config['TOKEN'])
    
    usersJSON = json.dumps(result)
    nextpageURL = result["paging"]["nextPage"]    
    dataOffset = nextpageURL[(nextpageURL.rfind('=')+1-len(nextpageURL)):]

    limitInt = int(app.config["LIMIT"])
    dataOffsetInt = int(dataOffset)

    if (dataOffsetInt < limitInt):
        dataOffset = None

    return render_template('users.html',
                           target_url=target,
                           usersJSON=usersJSON,
                           resultsJSON=result,
                           pagingJSON=result["paging"],
                           nextpageURL=nextpageURL,
                           dataOffset=dataOffset,
                           settings=settings)

</code></pre>
            <h3>Users JSON</h3>
            <p>{{usersJSON}}</p>
            </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <hr>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p><h3>Here is a dump of the configuration settings</h3>{{ settings.settings }}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}